<div class="container-fluid">
<h2><center>Showing article details</center></h2>
	<div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6"><br>
        <div class="card">
            <div class="card-body">
  <p><strong>Title: </strong><br> <%= @article.Title %></p>
  <p><strong>Description: </strong> <br> <%= @article.Description %></p>
  <%= link_to 'Edit',edit_article_path(@article), class: "btn btn-outline-success"%> 
  <%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete}, class: "btn btn-outline-danger"%> 
  <%= link_to 'Return to Articles Listing', articles_path, class: "btn btn-outline-info" %>
</div>
</div>
</div>
</div> 
<div class="col-md-3"></div>
</div>
</div>