<div class="container-fluid">
<div class="container">
<div class="row justify-content-center">
<div class="col-12">  
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6"><br>
        <div class="card">
            <div class="card-body">
                 <%= render '/shared/errors' , obj: @user %>
                  <%= form_with model: @user do |f| %>
<p>
  <%= f.label :username %><br>
  <%= f.text_field :username, class: "form-control", placeholder: "enter a username" %>
</p>
<p>
  <%= f.label :email %><br>
  <%= f.email_field :email, class: "form-control", placeholder: "enter an email address" %>
</p>

<p>
  <%= f.label :password%><br>
  <%= f. password_field :password, class: "form-control", placeholder: "enter a password" %>
</p>

<div>
  <%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn btn-outline-success") %>
  <%= link_to ' Cancel & Return to Articles list', articles_path, class: "btn btn-outline-info" %>
</div>

<% end %>
          </div>
        </div> 

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
</div>
</div>

